openai
langchain
langchain-openai
langchain-core
langchain-community
langchain-experimental
langchain_chroma
langchain-text-splitters
langsmith
chromadb
faiss-cpu
gradio
unstructured
google-search-results
tiktoken
docarray
matplotlib
plotly
numpy
scikit-learn
pandas